body {
    padding: 15px;
}
table, td, th {  
    border: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
    text-align: left;
}
.m-t {
    margin-top: 15px;
}
#interv_modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content {
    color: #444;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    padding: 25px;
}
.hafl-w {
    width: 50%;
}
.sort-date:after {
    content: '\25b2';   /* up */
}
.sort-date.reverse:after {
    content: '\25bc';   /* down */
}